body {
    background-color: aquamarine;
    background-image: url("images/MESSI FIT.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;

}

h2 {
    color: rgba(0, 0, 0,0.9);
    padding-right: 80px;
    padding-top:50px;

}

form {
    text-align:left;
    padding: 20px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    opacity: 0.70;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    color: rgb(255, 0, 0);
    border: none;
    border-bottom: 1px solid blue;
}


input[type="submit"] {
    background-color: #3cff00;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 80px;
}
input:hover{
    box-shadow: 0 0 5px 2px rgb(191, 34, 115);
}
form:hover{
    box-shadow: 0 0 10px 5px  rgb(6, 152, 250);
}
input[type="submit"]:hover{
     box-shadow: 0 0 10px 5px rgb(0, 119, 119);
}
