
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.comment-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.comment-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #007bff;
}


.comment-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}


.comment-form textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.comment-form button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-form button:hover {
    background-color: #0056b3;
}


.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}


.container p {
    font-size: 18px; 
    margin-bottom: 20px;
    color: #333;/
}

h1{
    text-align: center;
    margin-bottom: 60px;
}


